body {
  margin: 0;
  font-family: Roboto, sans-serif, arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.launchWrapper{
  padding: 2rem 0 0 0.8rem;
  overflow: hidden;
  width: 400px;
  height: 100px;
  border: 1px solid white;
  /* background-color: black; */
}
.launchItemPart{
  float:left;
}
.launchItemLastPart{
  float:right;
}

#map { height: 360px; }